{% set attr = object.getAttributes().setItem('form-control', 'class') %}
<div class="form-group{% if object.isBroken() %} has-error{% endif %}">
    {% if object.title %}
        <label class="control-label">{{ object.title }}
            {% if object.required %}<span class="required">*</span>{% endif %}
        </label>
    {% endif %}
    <{{ object.tagName }}{{ render(object.attributes) }} >
        {% for item in object.data %}
            <option value="{{ item.value }}"{% if item.value == object.value %} selected="selected"{% endif %}>{{ item.title }}</option>
        {% endfor %}
    </{{ object.tagName }}>
    {{ render(object.messages) }}
</div>
