<h1>Вы зарегистрировались на сайте {{ siteName }}</h1>
<p>Ваш логин: {{ userName }}</p>
<p>
    Для подтверждения регистрации перейдите по ссылке <a href="{{ activationUrl }}">{{ activationUrl }}</a>
</p>
<p>
    Либо скобируйте в строку запроса вашего браузера этот URL:<br />
    {{ activationUrl }}
</p>